body {
    min-height: 100vh;
    margin: 4.8vh 2.8vw;
    font-family: Tahoma, sans-serif;
    text-align: center;
    background: #f0f0f0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 30px 0;
    padding: 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px 0;
}

section {
    display: none;
}

.homepage-title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

button {
    font-family: Tahoma, sans-serif;
    cursor: pointer;
    color: black;
}

hr {
    margin: 20px 0 30px 0;
    border-top: 2px solid #6c77a2;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

code {
    background-color: #c1c7de;
    font-size: large;
}

span.highlight {
    font-size: large;
    color: #5e73c9;
}

a.link-button {
    display: inline-block;
    font-size: large;
    color: black;
    text-decoration: none;
    background-color: #c1c7de;
    padding: 15px 25px;
    border: 2px solid #6c77a2;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
}

.back-button {
    font-size: larger;
    background-color: #c1c7de;
    border: 2px solid #6c77a2;
    border-radius: 7px;
}

a.link-button:hover,
.back-button:hover {
    filter: brightness(90%);
}

a.link-button:active,
.back-button:active {
    filter: brightness(80%);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3.5vw;
    grid-row-gap: 5vh;
    margin: 0 4.2vw;
}

.project-tile-db-delay-charts,
.project-tile-asteroids,
.project-tile-game-of-life,
.project-tile-wanda,
.project-tile-math-game,
.project-tile-mastermind {
    border: 2px solid #6c77a2;
    border-radius: 20px;
    padding: 10px 30px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.project-tile-db-delay-charts:hover,
.project-tile-asteroids:hover,
.project-tile-game-of-life:hover,
.project-tile-wanda:hover,
.project-tile-math-game:hover,
.project-tile-mastermind:hover {
    border-color: black;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.project-tile-db-delay-charts:hover h3,
.project-tile-asteroids:hover h3,
.project-tile-game-of-life:hover h3,
.project-tile-wanda:hover h3,
.project-tile-math-game:hover h3,
.project-tile-mastermind:hover h3 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.project-tile-db-delay-charts img,
.project-tile-asteroids img,
.project-tile-game-of-life img,
.project-tile-wanda img,
.project-tile-math-game img,
.project-tile-mastermind img {
    width: 100%;
    border: 2px solid #6c77a2;
    display: block;
    border-radius: 20px;
    box-sizing: border-box;
}

.project-tile-db-delay-charts:hover img,
.project-tile-asteroids:hover img,
.project-tile-game-of-life:hover img,
.project-tile-wanda:hover img,
.project-tile-math-game:hover img,
.project-tile-mastermind:hover img {
    border-color: black;
}

.project-tile-db-delay-charts {
    background-color: #edd3d8;
}

.project-tile-asteroids {
    background-color: #f2e7c4;
}

.project-tile-game-of-life {
    background-color: #ecd2be;
}

.project-tile-wanda {
    background-color: #d0e5f4;
}

.project-tile-math-game {
    background-color: #d3f1e7;
}

.project-tile-mastermind {
    background-color: #dccce6;
}

.info-div {
    margin-top: 130px;
}

.gallery img {
    width: 150px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #6c77a2;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.825);
}

.lightbox-content {
    position: relative;
    margin: auto;
    top: 10%;
    width: 80%;
    max-width: 700px;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
}

.description {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.prev,
.next,
.prev-2,
.next-2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 30px;
    padding: 16px;
    margin-top: -50px;
    user-select: none;
}

.prev,
.next {
    color: black;
}

.prev-2,
.next-2 {
    color: white;
}

.prev,
.prev-2 {
    left: 0;
}

.next,
.next-2 {
    right: 0;
}

.project-div-db-delay-charts,
.project-div-asteroids,
.project-div-game-of-life,
.project-div-wanda,
.project-div-math-game,
.project-div-mastermind,
.section-div-about-me,
.section-div-qualifications,
.section-div-contact {
    max-width: 666px;
    padding: 5px 40px 20px 40px;
    border: 2px solid #6c77a2;
    border-radius: 20px;
    box-sizing: border-box;
}

.project-div-db-delay-charts .preview-img,
.project-div-game-of-life .preview-img,
.project-div-math-game .preview-img,
.project-div-mastermind .preview-img {
    border: 2px solid #6c77a2;
    border-radius: 20px;
    box-sizing: border-box;
}

.project-div-game-of-life img {
    width: 100%;
}

.section-div-about-me h2,
.section-div-qualifications h2 {
    margin-bottom: 0;
}

.section-div-about-me h3,
.section-div-qualifications h3 {
    margin-top: 36px;
    margin-bottom: 0;
}

.section-div-about-me h4,
.section-div-qualifications h4 {
    margin-top: 27px;
    margin-bottom: 0;
}

.section-div-about-me p,
.section-div-qualifications p {
    margin-top: 10px;
}

.text-div {
    max-width: 580px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.project-div-db-delay-charts {
    background-color: #edd3d8;
}

.project-div-asteroids {
    background-color: #f2e7c4;
}

.project-div-game-of-life {
    background-color: #ecd2be;
}

.project-div-wanda {
    background-color: #d0e5f4;
}

.project-div-math-game {
    background-color: #d3f1e7;
}

.project-div-mastermind {
    background-color: #dccce6;
}

.section-div-about-me {
    background-color: #d0e5f4;
}

.section-div-qualifications {
    background-color: #d3f1e7;
}

.section-div-contact {
    background-color: #edd3d8;
}

.tab-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 480px;
    margin: 35px auto;
}

.tab-button-container button {
    color: black;
    font-size: medium;
    background: radial-gradient(ellipse, rgb(191, 168, 232, 0.7), rgba(201, 181, 238, 0) 70%);
    border: none;
}

.tab-button-container button:hover {
    text-decoration: underline;
}

.tab-button-container button.active {
    background: radial-gradient(ellipse, rgb(228, 223, 150), rgba(228, 223, 150, 0) 70%);
}

.language-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 72px;
}

.language:hover {
    background: radial-gradient(ellipse, rgb(181, 212, 235, 0.7), rgba(181, 212, 235, 0) 70%);
}

.language.active {
    background: radial-gradient(ellipse, rgb(228, 223, 150), rgba(228, 223, 150, 0) 70%);
}

.flag {
    width: 36px;
    height: auto;
    opacity: 42%;
}

.language:hover .flag {
    opacity: 100%;
}

.language.active .flag {
    opacity: 100%;
}

.language-name {
    margin-top: 3px;
    font-size: 12px;
    text-align: center;
}

.language:hover .language-name {
    text-decoration: underline;
}

.heading-with-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.heading-with-image img {
    height: 18px;
    align-self: flex-end;
}

.image-link {
    display: inline-block;
    padding: 0 20px;
    color: black;
    text-decoration: none;
    font-size: small;
}

.image-link img {
    width: 70px;
}

.image-link p {
    margin-top: 5px;
}

.image-link:hover {
    background: radial-gradient(ellipse, rgb(193, 199, 222, 0.7), rgba(193, 199, 222, 0) 70%);
}

.image-link:active {
    background: radial-gradient(ellipse, rgb(193, 199, 222), rgba(193, 199, 222, 0) 70%);
}

.image-link:hover p {
    text-decoration: underline;
}

@media (max-width: 1440px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 910px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 850px) {
    header {
        flex-direction: column;
    }

    .language-selector {
        position: relative;
        margin-bottom: 15px;
    }
}
